@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

:root {
    --radius: 0.625rem;

    --primary: oklch(45.2% 0.24 264);
    --secondary: oklch(35.8% 0.22 266);
    --black: oklch(18% 0.03 264);
    --white: oklch(99.2% 0.004 230);
    --green: oklch(71% 0.22 148);
    --red: oklch(58% 0.24 27);
    --yellow: oklch(80% 0.19 88);
    --blue: oklch(72% 0.15 232);
    --orange: oklch(68% 0.2 48);
    --background: oklch(97.5% 0.006 260);
    --foreground: oklch(18% 0.03 264);
    --bg-2: oklch(95.2% 0.01 262);
    --stroke: oklch(90% 0.015 263);
    --accent-1: oklch(89% 0.04 262);
    --accent-2: oklch(84% 0.065 261);
    --grey-1: oklch(80% 0.018 258);
    --grey-2: oklch(59% 0.025 260);
    --grey-3: oklch(44% 0.025 261);
}

@theme inline {
    /* Shadcn Color Palette */
    --color-ring: var(--accent-2);
    --color-input: var(--stroke);
    --color-destructive: var(--red);
    --color-accent-foreground: var(--foreground);
    --color-accent: var(--accent-1);
    --color-muted-foreground: var(--foreground);
    --color-muted: var(--stroke);
    --color-secondary-foreground: var(--foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--foreground);
    --color-popover-foreground: var(--foreground);
    --color-popover: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);

    /* Distromatch Color Palette */
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-black: var(--black);
    --color-white: var(--white);
    --color-green: var(--green);
    --color-red: var(--red);
    --color-yellow: var(--yellow);
    --color-blue: var(--blue);
    --color-orange: var(--orange);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-bg-2: var(--bg-2);
    --color-stroke: var(--stroke);
    --color-accent-1: var(--accent-1);
    --color-accent-2: var(--accent-2);
    --color-grey-1: var(--grey-1);
    --color-grey-2: var(--grey-2);
    --color-grey-3: var(--grey-3);

    /* default border */
    --color-border: var(--stroke);
    /* default placeholder */
    --color-placeholder: var(--grey-1);
    /* default shadow */
    --shadow-default:
        0 1px 3px oklch(from var(--grey-2) l c h / 0.2),
        0 1px 2px oklch(from var(--grey-2) l c h / 0.1);
}

.dark {
    --background: oklch(13% 0.022 264);
    --foreground: oklch(99.2% 0.004 230);
    --bg-2: oklch(17.5% 0.025 263);
    --stroke: oklch(24% 0.04 262);
    --accent-1: oklch(24.5% 0.1 264);
    --accent-2: oklch(28% 0.135 264);
    --grey-1: oklch(35% 0.06 262);
    --grey-2: oklch(48% 0.065 261);
    --grey-3: oklch(67% 0.045 260);
}

@layer base {
    *,
    ::before,
    ::after {
        border-color: var(--color-border);
    }

    ::placeholder {
        color: var(--color-placeholder);
        opacity: 1;
    }

    .shadow {
        box-shadow: var(--shadow-default);
    }

    html {
        scrollbar-color: var(--primary) transparent;
        scrollbar-width: thin;
    }

    html::-webkit-scrollbar {
        width: 6px;
    }

    html::-webkit-scrollbar-track {
        background: transparent;
    }

    html::-webkit-scrollbar-thumb {
        background-color: var(--primary);
        border-radius: 8px;
    }

    body {
        @apply bg-background text-foreground;
    }

    button {
        @apply cursor-pointer;
    }
}

@layer utilities {
    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }

    .animate-marquee {
        animation: marquee 30s linear infinite;
    }

    .custom-scroll {
        scrollbar-color: var(--primary) transparent;
        scrollbar-width: thin;
    }

    .custom-scroll::-webkit-scrollbar {
        width: 6px;
    }

    .custom-scroll::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
        background-color: var(--primary);
        border-radius: 8px;
    }

    .error-input {
        @apply border-red ring-red/50 ring-2;
    }
}

@layer components {
}
